.main-header{
    background-color: aqua;
}
.body{
    background-color: beige;
}
.a{
    background-image: url("9292-korean-bbq1.jpg");
}
.navbar{
    background-color: #CCCCCC;
	overflow: hidden;
	width: 700px;
	margin: auto;
	
}

.navbar a{
    float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}